@import "tailwindcss";
@plugin "daisyui";

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
  }
  
  .animate-marquee2 {
    display: inline-block;
    animation: marquee2 20s linear infinite;
  }
  